@media screen and (min-width: 480px){
    .array-container {
        display: flex;
        align-items: flex-end;
        position: absolute;
        margin: 5%;
        width: 70%;
        height: 70%;
        left: 10%;
        top: 10%;
        right: 10%;
        background-color: #f0fff0;
    }

    .array-bar {
        align-items: bottom;
        width: 1%;
        background-color: darkblue;
        display: inline-block;
        margin: 0 1px;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 5%;
    }

    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
}